.navbar {
    display: flex;
    flex-direction: row;
    background-color: white;
    border: lightgray;
    margin-bottom: 25px;
    padding-left: 50px;
}

.navbar a {
    float: left;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
    font-size: 16px;
}

.navbar a:hover {
    background-color: azure;
}

.navbar a.active {
    background-color: papayawhip;
}

.button {
    background-color: white;
    width:  70px;
    height: 50px;
    border-style: none;
}
.button:hover {
    border-style: groove;
}