
#list {
    list-style-type: none;
}

.settingsContainer {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    top: 50%;
    left: 50%;
    width: 300px;
    height: 600px;
    margin-top: -150px;
    margin-left: -150px;
    border-radius: 3px;
    box-shadow: 1rem 1rem 1rem slategray;
    background: white;
}

.marginDiv {
    margin-top: 4px;
    margin-bottom: 4px;
    box-shadow: slategray;
}

.list {
    margin-bottom: 33px;
    margin-top: 30px;
    background: white;
    width: 240px;
    box-shadow: 1rem 1rem 1rem slategray;
    border-radius: 3px;
}

.list .head {
    padding: 19px 0;
    border-bottom: 2px solid slategray;
    margin: 0 27px;
}

.list ul {
    list-style: none;
    padding: 4px 0;
    margin: 0 30px;
    font-weight: 300;
}

.list ul li {
    position: relative;
    display: block;
    margin: 25px 0;
    height: 15px;
}
